In [1]:
import pandas as pd

# Reading data using pandas
df = pd.read_csv('Reliance.csv')



'''
Series - 1D Labeled array
DataFrames - 2D Labeled array

A DataFrame is a dictionary of Series under the hood

Both "Series" and "DataFrame" are subclass fo the NDFrame class

NDFrame is the base class in pandas for all data strucutres that handle labeled, array like data

'''
df

         Date    Open    High     Low   Close    Volume
0  2025-06-26  1469.1  1498.8  1465.1  1495.3  14657893
1  2025-06-25  1464.0  1472.4  1460.5  1467.3   7525851
2  2025-06-24  1465.0  1475.0  1443.1  1450.8  16402744
3  2025-06-23  1453.0  1463.8  1442.0  1456.8   5989078
4  2025-06-20  1431.0  1471.0  1428.1  1466.2  29010635

# Filtering Data using Pandas

- We are trying to look for a SQL "Where" function alternative
- We can do it using df[df['col_name]>x]
- We can also use the .query method

In [13]:
'''
Lets try to find the days where
1. Volumne > 10000000
'''
# Solution 1
df[df['Volume'] > 10000000]

'''
Lets try to find the days where
1. Volumne > 10000000
2. Close > 1460
'''
# Solution 1
print("Solution 1")
print(df[(df['Volume'] > 10000000) & (df['Close'] > 1460)])

# Solution 1
print("Solution 2")
print(df.query('Volume > 10000000 and Close > 1460'))

Solution 1
         Date    Open    High     Low   Close    Volume
0  2025-06-26  1469.1  1498.8  1465.1  1495.3  14657893
4  2025-06-20  1431.0  1471.0  1428.1  1466.2  29010635
Solution 2
         Date    Open    High     Low   Close    Volume
0  2025-06-26  1469.1  1498.8  1465.1  1495.3  14657893
4  2025-06-20  1431.0  1471.0  1428.1  1466.2  29010635